@font-face {
    font-family: 'ArialBlk';
    src: url('./ariblk.ttf');
}
body{
    font-family: 'ArialBlk';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-header{
    margin: 0 auto;
    background: rgb(82,82,82);
    background: linear-gradient(0deg, rgb(20, 20, 20) 0%, rgb(41, 41, 41) 100%);
    margin-bottom: -35px;  
}
.itens-header{
    display: flex;
    margin-left: 60px;
}
.info{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 77%;
    gap: 10px;
}
.icon-netflix{
    display: flex;
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 1%;
}
.idioma{    
    display: flex;
    color: white;
    position: relative;
    margin-top: 30px;
    font-size: 7px;
    border: 1px solid white;
    height: 30px;
    width: 110px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
.mostrar{
    height: 40px;
    width: 120px;
    background-color: white;
    border-radius: 5px;
}
.PT{
    height: 20px;
    width: 120px;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
}
.login{
    display: flex;
    color: rgb(0, 0, 0);
    position: relative;
    margin-top: 30px;
    font-size: 7px;
    border: 1px solid white;
    height: 30px;
    width: 70px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.login:hover{
    background-color: rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
}
.movies{
    background: rgb(82,82,82);
    background: linear-gradient(0deg, rgb(41, 41, 41) 0%, rgba(28,28,28,1) 100%);
    display: flex;
    justify-content: center;
    height: 500px;
    position: relative;
}
.movies-texto{
    color: white;
    position: absolute;
    top:190px;
    z-index: 60;
    font-size: 27px;
    text-align: center;
}
.movies-foto{
    display: flex;
    justify-content: center;
}
.container-meio{ 
    margin:0 auto;
    background: rgb(82,82,82);
    background: linear-gradient(0deg, rgb(58, 58, 58) 0%, rgb(41, 41, 41) 0%);
    height: 280px;
}
.assinatura{
    display: flex;
    justify-content: center;
    color: rgb(194, 194, 194);
    font-size: 10px;
    padding-top: 40px;
}
.compra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 15px;
}
.botao-email{
    display: flex;
    width: 340px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 30px;
    color: rgb(148, 148, 148);
    align-items:center;
    font-size: 11px;
    padding-left: 15px;
}
.vamos-la{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    background-color: red;
}
.vamos-la:hover{
    background-color: rgb(172, 0, 0);
}
.retangulo-saiba-mais{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.saiba-mais{
    display: flex;
    align-items: center;
    padding-left: 45px;
    color: white;
    width: 1440px;
    height: 80px;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    font-size: 20px;
    padding-top: 3px;
    border: 2px solid rgb(85, 85, 85);
}
.saiba-mais:hover{
    background-color: rgba(117, 117, 117, 0.466);
    cursor: pointer;
    transform: scale(1.02);
    transition: ease-in-out 0.5s;
}
.saiba-mais-lista{
    list-style-type: none;
    gap: 2px;
}
.descricao-saiba-mais{
    font-size: 13px;
    color: rgb(168, 168, 168);
}
.botao-saiba-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 95px;
    height: 30px;
    border-radius: 30px;
    font-size: 8px;
    color: white;
    margin-left: -140px;
    margin-top: 25px;
    background-color: rgba(37, 37, 37, 0.877);
}
.botao-saiba-mais:hover{
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.03);
    transition: ease-in-out 0.5s;
}
.container-filmes{
    margin:0 auto;
    background: rgb(82,82,82);
    background: linear-gradient(0deg, rgb(58, 58, 58) 0%, rgb(41, 41, 41) 0%);
    height: 700px;
}
.em-alta{
    display: flex;
    color: white;
    padding-left: 250px;    
}
.filmes-catalogo{
    position: relative;
    top:50px;
    left: -100px;
    border-radius: 20px;
}
.lista-em-alta{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.filmes-catalogo:hover{
    margin-bottom: 0.5px;
    transform: translateY(10px);
}
.seta-direita{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1640px;
    top:-120px;
    height: 80px;
    width: 20px;
    border-radius: 10px;
    background-color: rgba(126, 126, 126, 0.596);
    color: rgba(255, 255, 255, 0.418);
}
.seta-direita:hover{
    background-color: rgb(56, 56, 56);
}
.so-na-netflix{
    display: flex;
    color: white;
    padding-left: 250px;
}
.lista-so-na-netflix{
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    right: 65px;
}
.container-motivos{
    margin:0 auto;
    background: rgb(82,82,82);
    background: linear-gradient(0deg, rgb(58, 58, 58) 0%, rgb(41, 41, 41) 0%);
    height: 200px;
}
.titulo-motivos{
    display: flex;
    color: white;
    padding-left: 250px;  
    padding-bottom: 15px;
}
.cards-motivos{
    display: flex;
    padding-left: 250px;
    gap:10px;
}
.card1{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(85, 85, 85);
    height: 100px;
    width: 350px;
}
.card2{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(85, 85, 85);
    height: 100px;
    width: 350px;
}
.card3{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(85, 85, 85);
    height: 100px;
    width: 350px;
}
.card4{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(85, 85, 85);
    height: 100px;
    width: 350px;
}
.texto-cards{
    display: flex;
    position: relative;
    top: 10px;
    left: 15px;
    color: white;
    font-size: 14px;
}
.img-card1{
    display: flex;
    position: relative;
    top: 50px;
    right: 2px;
}
.img-card2{
    display: flex;
    position: relative;
    top: 57px;
    right: 18px;
}
.img-card3{
    display: flex;
    position: relative;
    top: 55px;
    left: 78px;
}
.img-card4{
    display: flex;
    position: relative;
    top: 53px;
    left: 40px;
}
.container-faq{
    margin:0 auto;
    background: rgb(82,82,82);
    background: linear-gradient(0deg, rgb(58, 58, 58) 0%, rgb(41, 41, 41) 0%);
    height: 600px;
}
.perguntas-titulo{
    display: flex;
    color: white;
    padding-left: 250px; 
}
.box-perguntas{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.perguntas-box-1{
    display: flex;
    position: relative;
    left: 250px;
    top: 15px;
    width: 1440px;
    height: 80px;
    border-radius: 15px;
    border: 2px solid rgb(85, 85, 85);
    background-color: rgb(53, 53, 53);
    gap: 30px;
}
.pergunta-texto-1{
    display: flex;
    position: relative;
    left: 30px;
    color: white;
    align-items: center;
    font-size: 12px;
}
.perguntas-box-2{
    display: flex;
    position: relative;
    left: 250px;
    top: 15px;
    width: 1440px;
    height: 80px;
    border-radius: 15px;
    border: 2px solid rgb(85, 85, 85);
    background-color: rgb(53, 53, 53);
}
.pergunta-texto-2{
    display: flex;
    position: relative;
    left: 30px;
    color: white;
    align-items: center;
    font-size: 12px;
}
.perguntas-box-3{
    display: flex;
    position: relative;
    left: 250px;
    top: 15px;
    width: 1440px;
    height: 80px;
    border-radius: 15px;
    border: 2px solid rgb(85, 85, 85);
    background-color: rgb(53, 53, 53);
}
.pergunta-texto-3{
    display: flex;
    position: relative;
    left: 30px;
    color: white;
    align-items: center;
    font-size: 12px;
}
.perguntas-box-4{
    display: flex;
    position: relative;
    left: 250px;
    top: 15px;
    width: 1440px;
    height: 80px;
    border-radius: 15px;
    border: 2px solid rgb(85, 85, 85);
    background-color: rgb(53, 53, 53);
}
.pergunta-texto-4{
    display: flex;
    position: relative;
    left: 30px;
    color: white;
    align-items: center;
    font-size: 12px;
}
.perguntas-box-5{
    display: flex;
    position: relative;
    left: 250px;
    top: 15px;
    width: 1440px;
    height: 80px;
    border-radius: 15px;
    border: 2px solid rgb(85, 85, 85);
    background-color: rgb(53, 53, 53);
}
.pergunta-texto-5{
    display: flex;
    position: relative;
    left: 30px;
    color: white;
    align-items: center;
    font-size: 12px;
}
.perguntas-box-6{
    display: flex;
    position: relative;
    left: 250px;
    top: 15px;
    width: 1440px;
    height: 80px;
    border-radius: 15px;
    border: 2px solid rgb(85, 85, 85);
    background-color: rgb(53, 53, 53);
}
.pergunta-texto-6{
    display: flex;
    position: relative;
    left: 30px;
    color: white;
    align-items: center;
    font-size: 12px;
}
.perguntas-box-1:hover,.perguntas-box-2:hover,.perguntas-box-3:hover,.perguntas-box-4:hover,.perguntas-box-5:hover,.perguntas-box-6:hover{
    background-color: rgba(15, 15, 15, 0.466);
    cursor: pointer;
}
.simbolo-mais{
    display: flex;
    position: absolute;
    left: 1360px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.658);
}
.container-end{
    margin:0 auto;
    background: rgb(82,82,82);
    background: linear-gradient(0deg, rgb(58, 58, 58) 0%, rgb(41, 41, 41) 0%);
    height: 400px;
}
.botao-vamos-la{
    display: flex;
    position: relative;
    top:30px;
    left: 885px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    width: 130px;
    height: 40px;
    background-color: red;
    font-size: 14px;
}
.botao-vamos-la:hover{
    background-color: rgb(192, 0, 0);
}
.descricao-final{
    display: flex;
    position: relative;
    top: 40px;
    justify-content: center;
    color: white;
    font-size: 14px;
}
.roda-pe{
    display: flex;
    position: relative;
    color: rgba(255, 255, 255, 0.521);
    font-size: 15px;
    top: 80px;
    justify-content: left;
    margin-left: 250px;
}
.lista-esquerda{
    display: flex;
    justify-content: left;
    margin-top: 130px;
    margin-left: 250px;
    flex-direction: column;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.521);
    list-style-type: none;
    gap:10px;
}
.lista-esquerda-2{
    display: flex;
    justify-content: left;
    margin-top: -130px;
    margin-left: 550px;
    flex-direction: column;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.521);
    list-style-type: none;
    gap:10px;
}
.lista-direita{
    display: flex;
    justify-content: right;
    margin-top: -105px;
    margin-left: 800px;
    flex-direction: column;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.521);
    list-style-type: none;
    gap:10px;
}
.lista-direita-2{
    display: flex;
    justify-content: right;
    margin-top: -105px;
    margin-left: 1080px;
    flex-direction: column;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.521);
    list-style-type: none;
    gap:10px;
}